@keyframes gogo {
  0% {
    right: 60rem;
  }
  100% {
    right: 0rem;
  }
}
@keyframes left {
  0% {
    left: 60rem;
  }
  100% {
    left: 0;
  }
}
.header {
  > h1 {
    position: relative;
    animation-name: left;
    animation-duration: 4s;
  }
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  .reactScroll {
    position: relative;
    animation-name: gogo;
    animation-duration: 4s;
  }
  h1 {
    padding: 2rem 0 2rem 0;
    font-size: 2.5rem;
  }
  a {
    padding: 0 2rem;
    cursor: pointer;
    &:hover {
      color: red;
      transition: 0.8s;
    }
  }
}

@media (max-width: 600px) {
  .header {
    h1 {
      font-size: 1.5rem;
    }
    .reactScroll {
      display: grid;
      a {
        margin-bottom: 1rem;
        padding: 0 0.1rem;
      }
    }
  }
}
