.myCertificate {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid black;
  text-align: center;
  h1 {
    padding: 2rem 0rem 2rem 1rem;
    font-size: 1.5rem;
  }
  img {
    width: 200px;
    height: 300px;
    margin: 2rem 3rem 1rem 3rem;
    cursor: pointer;
  }
}

// MODAL WINDOW

.fullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
}
.fullScreen .close {
  display: block;
  margin: auto;
}

.fullScreen img {
  display: block;
  margin: 15px auto 5px;
  width: auto;
  height: calc(100% - 50px);
}

@media (max-width: 550px) {
  .fullScreen {
    img {
      display: block;
      margin: 15px auto 5px;
      width: 100vw;
      height: calc(100% - 50px);
    }
    .close {
      width: 30%;
      position: relative;
      bottom: 1rem;
    }
  }
}
