@keyframes pulse {
  0% {
    transform: rotate(-400deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.technologies {
  display: flex;
  width: 90%;
  margin: 0 auto;
  h1 {
    padding: 2rem 0rem 2rem 1rem;
    font-size: 1.5rem;
  }
  img {
    width: 64px;
    margin: 2rem 1rem 1rem 1rem;
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
  }
  .leftSide {
    width: 70%;
    text-align: center;
  }
  .rightSide {
    width: 30%;
  }
}
.technologies_list {
  list-style: outside;
  padding: 3rem 0rem 2rem 7rem;
  li {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media (max-width: 600px) {
  .technologies {
    display: block;
    .leftSide {
      width: auto;
    }
    .rightSide {
      width: auto;
    }
  }
}
